*{

	font: 1.2em "Fira Sans", sans-serif;
}
body{
	background-color: black;
	color:white;
}

h1{
	display:flex;
	justify-content:center;
	font-size: 350%;
}

.laVideo{
	display:flex;
	justify-content:center;
}